---
layout: default
title: Home
key: Home
---
<div >
	 <h2 class="col span_2" style="margin-bottom:4px;">&nbsp;</h2>
	 <input  id="articlekw" type="text" class="form-control"  placeholder="关键字"/>
</div>

<section style="clear:both" class="archive">
{% for post in site.posts %}
{% unless post.next %}

{% unless forloop.first %}</div></div>{% endunless %}
  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">

{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">
{% endif %}
{% endunless %}

  <article class="customHandler row gutters">
    <a rel="bookmark" href="{{ site.baseurl }}{{ post.url }}"   postkey="{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
    <span class="post-date col span_4"><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time></span>
  </article>

{% if forloop.last %}</div></div>{% endif %}

{% endfor %}
</section>