<!-- meta information -->
<meta charset="utf-8">
<meta HTTP-EQUIV="Pragma" content="no-cache">
<meta HTTP-EQUIV="Cache-Control" content="no-cache">
<meta HTTP-EQUIV="Expires" content="0">
<meta name="baidu-site-verification" content="dZ2kpxUtKy" />
<meta name="wumiiVerification" content="444acd2d-d97b-4474-8d64-3ae9b47e2b44" />
<meta name="ujianVerification" content="6e51d7103fc9aeab2b8163de97a68a78" />
<meta name="keywords" {% if (page.kw == null || page.kw =='') %} content="{{site.kw}}" {% else %} content="{{page.kw  }}" {% endif %} />
<meta name="description" {% if page.title == "Home" %}
      content="{{ site.data.brume.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}/>
<meta name="author" content="{{ site.data.brume.author }}">
<meta content="black" name="apple-mobile-web-app-status-bar-style" /><meta content="yes" name="apple-mobile-web-app-capable" /><meta content="telephone=no" name="format-detection" />
<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<meta name="robots" content="all,index,follow">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{site.baseurl}}{{page.url}}">
<meta property="og:site_name" content="{{ site.data.brume.name }}">
<meta property="og:description" content="{{ page.content | strip_html | strip_newlines | truncate: 100 }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.title }}">
<!-- title -->
<title>{{ page.title }} &middot; {{ site.data.brume.name }}</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script><script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- icons -->
<link rel="shortcut icon" href="{{site.baseurl}}/public/images/favicon.ico" />
<!-- stylesheets --><link rel="stylesheet" href="{{site.baseurl}}/public/css/responsive.gs.12col.css"><link rel="stylesheet" href="{{site.baseurl}}/public/css/animate.min.css"><link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css"><link rel="stylesheet" href="{{site.baseurl}}/public/css/pygments.css">
<!-- Google fonts -->
<link rel="stylesheet" href="{{site.baseurl}}/public/css/googleFonts.css"><link href="{{site.baseurl}}/public/assets/themes/bootstrap-3/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
{% if site.paginate %}
<!-- font Awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endif %}
<!-- feed links -->
<link rel="alternate" href="{{ site.url }}{{ site.baseurl }}/feed.xml" type="application/rss+xml" title="{{ page.title }}">
<!--解决由于网址形式不同内容相同而造成的内容重复问题SEO-->
<link rel='canonical' href='{{ site.baseurl }}{{page.url}}' />
<style type="text/css" >
		.ui-icon{display: inline-block;overflow: hidden;font-style: normalwebkit-text-size-adjust: none;width: 28px;height:24px;}
		.ui-icon-comments{background-image:url("{{ site.baseurl }}/public/images/toolsnew.png");background-repeat:no-repeat;background-position:1px -24px;vertical-align:super;}
		.ui-circle {vertical-align:super;font-size:0.8em;color:white;text-align:center;border-radius: 50%;width: 17px;height: 17px; background-color:red;}
</style>
<script type="text/javascript">
    try{var b_name = navigator.appName;var b_version = navigator.appVersion;var version = b_version.split(";");var trim_version = version[1].replace(/[ ]/g, "");
		if (b_name == "Microsoft Internet Explorer") {
            /*如果是IE6或者IE7 IE8*/
            if (trim_version == "MSIE7.0" || trim_version == "MSIE6.0" || trim_version == "MSIE8.0") {document.write('<div class="jumbotron">');document.write('<h1>啊 您的浏览器也太老土土土...了吧。</h1>');document.write('<p>你的浏览器版本太低了，为了获得更好的体验 升级一下您的浏览器吧<code>chrome<code><code>IE</code></p>');document.write('</div>');}
        }}catch(e){}
</script>
<!--	
=====================================华丽丽的分割线=========================================================================
                                                                                      _______________  ___        
                                                                                      \__    ___/\   \/  /  ______
                                                                                        |    |    \     /  /  ___/
                                                                                        |    |    /     \  \___ \ 
                                                                                        |____|   /___/\  \/____  >
                                                                                                       \_/     \/ 
			 嘿 你好同学 想偷我的源码吗?
			 看就看呗、没事。如果有共鸣 请留下你的身影 让我来找到你。
			 2015年6月25日 17:22:51
-->